<div class="container">
    <h1>Welcome to India Culture Connect</h1>
  
    <p>Explore and embrace the colorful array of India's rich cultural heritage with us.</p>
  
    <h2>Categories</h2>
    <ul>
      <li><a routerLink="/categories/traditions">Traditions</a></li>
      <li><a routerLink="/categories/cultures">Cultures</a></li>
      <li><a routerLink="/categories/cuisines">Cuisines</a></li>
      <li><a routerLink="/categories/architectures">Architectures</a></li>
      <li><a routerLink="/categories/festivals">Festivals</a></li>
      <li><a routerLink="/categories/history-mythology">History & Mythology</a></li>
      <li><a routerLink="/categories/visual-arts">Visual Arts</a></li>
      <li><a routerLink="/categories/clothing-fashion">Clothing & Fashion</a></li>
    </ul>
  
    <h2>Features</h2>
    <ul>
      <li><a routerLink="/state-wise-exploration">State-wise Exploration</a></li>
      <li><a routerLink="/travel-booking">Travel Booking Integration</a></li>
      <li><a routerLink="/explore-and-learn">Explore and Learn with Mentors</a></li>
      <li><a routerLink="/upcoming-events">Upcoming Events</a></li>
    </ul>
  </div>
  